@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the home page of Ropey DVDs. Ropey_DVDs is a rental DVD store offering a wide range of facilities like buying, renting and loaning movies. </p>
</div>
